
<nav class=" navbar navbar-default wrap_full  wrap_back_color_6f5499">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
         
          <ul class="nav navbar-nav">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/services">Services</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/allpages">All Pages</a></li>
          </ul>
          
      </div>
      
    </div>
    
    
  </div>
  <div class="clear"></div>
</nav>

<div class="clear"></div>