

<div class="wrap_full wrap_padd_40">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <p>
          exdirectives works!
        </p>

        <p *appGoif="show">
          exdirectives GOif Directive true
        </p>

        <p *appGoif="!show">
          exdirectives GOif Directive FALSE
        </p>

          
      </div>
      <div class="col-md-6 ">
       
        <li *appGofor = "count"> Hello</li>
      </div>
      
    </div>
  </div>
  <div class="clear"></div>
</div>